
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* shared style */
.font-open-sans{
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
}
.btn{
  border: none;
  background-color: #FD6E0A;
  padding: 18px 35px;
  border-radius: 5px;
  color: white;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
}
/* main style */
header{
  background-color: #FFF8F3;
  padding-top: 50px;
}
.logo h2{
  font-size: 45px;
  font width: 900;
}
.logo .logo-color{
  color: #FD6E0A;
}
nav{
  width: 71%;
  max-width: 1140px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
  nav .menu{
    list-style: none;
    display: flex;
    gap: 51px;
    align-items: center;
  }
  nav .menu a{
    font-size: 20px;
    text-decoration: none;
    color: #474747
  }
